.container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 15px;
    padding-inline-start: 40px;
    background-color: #372c2a;
}

.example-card{
    padding: 10px;
    width: 30%;
    height: auto;
    border-radius: 10px;
    background-color: #dac4b5;
}

.mat-card-image{
  width: 20px;
}

.para{
  font-weight: bold;
  color: #372c2a;
  font-family: secondFont;
  padding: 10px;
  height: 45px;
}
.location{
  font-weight: bold;
  color: #372c2a;
  height: 60px;
}
.title{
  font-weight: bold;
  color: #372c2a;
  font-family: secondFont;
}
.subtitle{
  font-weight: bold;
  color: #372c2a;
}
.favorite-icon, .share-icon{
  margin-right: 40px;
}
.mat-flat-button{
  background-color: bisque;
  border-radius: 30px;
  padding: 3px;
}
.ingredients-heading{
  font-family: secondFont !important;
  background-color: bisque;
  padding: 10px;
}
.ingredients-value{
  font-family: secondFont !important;
}
.mat-stroked-button{
  background-color: bisque;
  margin-left: 40px;
  margin-right: 20px;
}

@font-face {
  font-family: myFont;
  src: url(BillyArgelFont.ttf);
}
@font-face {
  font-family: secondFont;
  src: url(DancingScript.ttf);
}