<div class="container">
    <header style="align-items: center;">
        <h1 class="header">Contact Us</h1>
    </header>

    <div class="content">
        <h2 class="heading" style="align-items: center;">We'd Love to Hear From You</h2>
        <p class="paragraph">
            Whether you have a question about our menu, feedback on our service, or any other inquiry, our team is ready to answer all your questions. Fill out the form below, and we'll get back to you as soon as possible.
        </p>

        <form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()" style="align-items: center;">
            <div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Name :</mat-label>
                        <input matInput placeholder="Ex. John" formControlName="name">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email :</mat-label>
                        <input type="email" matInput
                               placeholder="Ex. pat@example.com" formControlName="email">
                        <mat-hint>Errors appear instantly!</mat-hint>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Message :</mat-label>
                        <input matInput placeholder="Ex. John" type="text" formControlName="meassage">
                    </mat-form-field>
                </div>
            </div>
        </form>

        <div>
            <section>
                <button style="align-items: center;"  class="button" mat-stroked-button type="submit">Submit</button>
            </section>
        </div>

        <!-- <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Your Name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="Your Email" required>

            <label for="message">Message:</label>
            <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>

            <button type="submit">Send Message</button>
        </form> -->
    </div>

    <footer>
        <p class="paragraph">Contact Information:</p>
        <p class="paragraph">Email: support@coffeebliss.com</p>
        <p class="paragraph">Phone: (555) 123-4567</p>
        <p class="paragraph">Visit our social media pages:</p>
        <p class="paragraph">
            <a href="https://facebook.com/coffeebliss" target="_blank">Facebook</a> |
            <a href="https://twitter.com/coffeebliss" target="_blank">Twitter</a> |
            <a href="https://instagram.com/coffeebliss" target="_blank">Instagram</a>
        </p>
    </footer>
</div>