#container{
    display: flex;
    flex-wrap: wrap;
    background-color: #372c2a !important;
    color: #372c2a;    
}
.fullcontainer{ 
    height: 400px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 35%;
    background-color: #dac4b5;
} 
form{
    height: 230px;
    width: 300px;
    position: absolute;
    top: 30%;
    left: 20%;
    background-color: #372c2a !important;
    color: bisque;
    margin-bottom: 40px;
}
.form-all{
    margin-top: 25px;
    padding: 10px;
}
label{
    text-align: right;
    font-family: secondFont;
    font-size: 20px;
}
input {
    box-sizing: border-box;
    background-color: bisque;
    padding: 5px;
}
.form-group{
    margin-bottom: 10px;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.submit,
.cancel{
    padding: 5px;  
    padding-left: 15px;
    padding-right: 15px;
}
#required{
    color: black;
    font-size: 0.9em;
}
@font-face {
    font-family: secondFont;
    src: url(DancingScript.ttf);
}
.ear-l, .ear-r{
    width: 40px;
    height: 40px;
    border-radius: 0% 0% 50% 50%;
    background-color: grey;
}
.ear-l{
    transform: rotate(150deg);
    position: absolute;
    left: 195px;
    top: 3px;
}
.ear-r{
    transform: rotate(-150deg);
    position: absolute;
    left: 285px;
    top: 3px;
}
.panda-face{
    width: 120px;
    height: 100px;
    position: absolute;
    left:200px;
    top:20px;
    background-color: rgb(241, 239, 236);
    border-color: black;
    border-radius: 40% 40% 60% 60%;
}
.eye-l{
    width: 25px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 25px;
    top: 25px;
    transform: rotate(-20deg);
    border-radius: 40%;
}
.eye-r{
    width: 25px;
    height: 30px;
    background-color: black;
    position: absolute;
    left: 70px;
    top: 25px;
    transform: rotate(20deg);
    border-radius: 40%;
}
.eyeball-l{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 6px;
    top: 15px;
    background-color: aliceblue;
    border-radius: 50%;
}
.eyeball-r{
    width: 10px;
    height: 10px;
    position: absolute;
    left: 8px;
    top: 15px;
    background-color: aliceblue;
    border-radius: 50%;
}
.blush-l{
    width: 18px;
    height: 10px;
    background-color: rgb(247, 137, 242);
    position: absolute;
    left: -5px;
    top: 28px;
    transform: rotate(+40deg);
    border-radius: 60%;  
}
.blush-r{
    width: 18px;
    height: 10px;
    background-color: rgb(247, 137, 242);
    position: absolute;
    left: 10px;
    top: 28px;
    transform: rotate(-40deg);
    border-radius: 60%;  
}
.nose{
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: black;
    left: 45px;
    top: 65px;
    transform: rotate(-135deg);
    clip-path: polygon(50% 100%, 50% 50%, 100% 50%, 100% 100%);
    border-radius: 45%;
}
.mouth{
    height: 5px;
    width: 4px;
    position: relative;
    background-color: black;
    border-radius: 0% 0% 50% 0%;
    left: 58px;
    top:80px;
}
.mouth-d{
    width: 30px;
    height: 20px;
    position: absolute;
    left: 45px;
    top: 65px;
    border-bottom: solid;
    border-radius: 100%;
    border-color: black;
}
.paw-l{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    top: 330px;
    left: 180px;
} 
.paw-r{
    width: 40px;
    height: 40px;
    background-color: grey;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    top: 330px;
    left: 280px;
} 
.paw-l .big-dot,
.paw-r .big-dot{
    width: 25px;
    height: 15px;
    background-color: white;
    border-radius: 50% 50% 0% 0%;
    position: absolute;
    top: 17px;
    left: 7px;
}
.paw-l .small-dot-l,
.paw-r .small-dot-l{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 9px;
}
.paw-l .small-dot-m,
.paw-r .small-dot-m{
    width: 7px;
    height: 7px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 15px;
    top: 5px;
}
.paw-l .small-dot-r,
.paw-r .small-dot-r{
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 27px;
    top: 9px;
}
.password-active{
    width: 25px;
    height: 30px;
    background-color: black;
    position: absolute; 
}
.eye-close-l{
    width: 30px;
    height: 100px;
    background-color: gray;
    position: absolute;
    left: 200px;
    top: 40px;
    border-radius: 50% 50% 0% 0%;
    transform: rotate(45deg);
    transition: transform ease-in-out 1s;
}
.eye-close-r{
    width: 30px;
    height: 100px;
    background-color: gray;
    position: absolute;
    left: 290px;
    top: 40px;
    border-radius: 50% 50% 0% 0%;
    transform: rotate(-45deg);
    transition: transform ease-in-out 1s;
}
.hand-l{
    width: 30px;
    height: 40px;
    background-color: gray;
    position: absolute;
    left: 150px;
    top: 110px;
    border-radius: 0% 0% 50% 50%;
}
.hand-r{
    width: 30px;
    height: 40px;
    background-color: gray;
    position: absolute;
    left: 330px;
    top: 110px;
    border-radius: 0% 0% 50% 50%;
}