<div class="total-navbar">
<mat-toolbar class="toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-right: 250px;">Menu</span>
    <a style="margin-right: 20px; font-size: large;" mat-button routerLink="/home">Home</a>
    <a style="margin-right: 20px; font-size: large;" mat-button routerLink="/shop-owners">Shop Owners</a>
    <a style="margin-right: 20px; font-size: large;" mat-button routerLink="/allcoffees">All Coffees</a>
    <a style="margin-right: 20px; font-size: large;" mat-button routerLink="/cart">Cart</a>
    <a style="margin-right: 20px; font-size: large;" mat-button routerLink="/wishlist">Wishlist</a>
    <span style="margin-left: 200px; font-size: large;">Search:</span>
    <app-search (searchEvent)="onSearch($event)"></app-search>
    <!-- <span><input type="text" name="search" [(ngModel)]="enteredValue" (input)="Onsearch($event)"> -->
    <!-- </span> -->
  </mat-toolbar>
  
  <mat-drawer-container class="example-container">
    <mat-drawer class="sidenav" #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" (click)="toggle()">
      <mat-nav-list class="sidelist" >
        <a mat-list-item routerLink="/login"></a>
        <a mat-list-item routerLink="/profile" >Profile</a>
        <!-- <a mat-list-item routerLink="/home">Home</a> -->
        <a mat-list-item routerLink="/aboutUs">About Us</a>
        <a mat-list-item routerLink="/contactUs">Contact</a>
        <a mat-list-item routerLink="/help">Help</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<!-- <app-search></app-search> -->

  
