.container{
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 20px;
    background-color: #372c2a;
}

.header{
    display: flex;
    text-align: center;
    color: bisque;
    font-family: myFont;
    align-items: center;
    font-size: 100px;
    padding-bottom: 30px;
    align-self: center;
}

.quotes{
    font-size: 40px;
    font-family: secondFont;
    color: bisque;
    padding-bottom: 20px;
}

.heading{
    font-size: 40px;
    font-family: thirdFont;
    color: bisque;
}

.paragraph{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif; 
    line-height: 20px;
    color: bisque;
}



@font-face {
    font-family: myFont;
    src: url(BillyArgelFont.ttf);
  }

  @font-face {
    font-family: secondFont;
    src: url(DancingScript.ttf);
  }

  @font-face {
    font-family: thirdFont;
    src: url(PoetsenOne.ttf);
  }