<div class="container">
    <header>
        <h1 class="header" style="text-align: center; align-items: center; margin-bottom: 5px;">Welcome to Coffee Bliss</h1>
    </header>

    <div class="content">
        <p class="quotes" style="font-size: large; margin-bottom: 15px;">"Coffee is a language in itself." – Jackie Chan</p>
        <p class="quotes" style="font-size: large; margin-bottom: 20px;">"The powers of a man’s mind are directly proportional to the quantity of coffee he drinks." – Sir James Mackintosh</p>

        <h2 class="heading" style="margin-bottom: 15px;">Our Inspiration</h2>
        <p class="paragraph" style="margin-bottom: 20px;">
            At Coffee Bliss, we believe that every cup of coffee tells a story. Our journey began with a passion for crafting the perfect brew and the desire to share that experience with coffee lovers around the world. Inspired by the rich history and culture of coffee, we strive to bring you the finest selection of beans and flavors, curated from the best coffee farms globally.
        </p>

        <h2 class="heading" style=" margin-bottom: 15px;">Our Coffee</h2>
        <p class="paragraph" style="margin-bottom: 20px;">
            We offer a diverse range of coffees, from bold espressos to smooth lattes, and everything in between. Each cup is carefully prepared to ensure the highest quality and taste. Our expert baristas are dedicated to bringing out the unique characteristics of each blend, providing a delightful coffee experience with every order.
        </p>

        <h2 class="heading" style="margin-bottom: 15px;">Our Commitment</h2>
        <p class="paragraph" style="margin-bottom: 20px;">
            Coffee Bliss is committed to sustainability and ethical sourcing. We work closely with farmers to ensure fair trade practices and support environmentally friendly initiatives. Our goal is to create a positive impact on the communities we serve, while delivering exceptional coffee to our customers.
        </p>
    </div>

    <footer>
        <p class="paragraph" style="margin-bottom: 5px;">Contact Us:</p>
        <p class="paragraph" style="margin-bottom: 5px;">Email: support@coffeebliss.com</p>
        <p class="paragraph" style="margin-bottom: 5px;">Phone: (555) 123-4567</p>
        <p class="paragraph"style="margin-bottom: 5px;">Follow us on social media:</p>
        <p class="paragraph" style="margin-bottom: 5px;">
            <a href="https://facebook.com/coffeebliss" target="_blank">Facebook</a> |
            <a href="https://twitter.com/coffeebliss" target="_blank">Twitter</a> |
            <a href="https://instagram.com/coffeebliss" target="_blank">Instagram</a>
        </p>
    </footer>    
</div>