<div class="background">
 <div>
    <mat-grid-list cols="5" rowHeight="600px" gutterSize="10px">
      <mat-grid-tile colspan="3">
        <div class="sub-heading">
          <div>
            <h1  class="main-heading">Coffee World</h1>
            </div>
          <p class="para1">"Ignite your mornings with the perfect blend of passion and flavor. Coffee that inspires, one sip at a time."</p>
          <p class="para2">"Indulge in the timeless allure of coffee, where every sip takes you on a journey through rich, aromatic landscapes. 
            Crafted from the finest beans, each cup brims with a symphony of flavors, awakening your senses and invigorating your soul. 
          </p>
          <p class="para1">"Coffee fuels our creativity and sharpens our focus, making each day more productive and inspired. 
            It's not just a drink; it's a vital part of our daily ritual and well-being."
          </p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="2">
      </mat-grid-tile>
  </mat-grid-list>
</div> 
</div>
  

