mat-dialog-title,
mat-dialog-content,
mat-dialog-actions,
mat-button{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    color: bisque;
}
mat-dialog-title{
    font-family: myFont;
}
.container{
    background-color: #372c2a;
}
.gap{
    border-bottom: 10px;
}
mat-dialog-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
@font-face {
    font-family: myFont;
    src: url(BillyArgelFont.ttf);
  }
  
  @font-face {
    font-family: secondFont;
    src: url(DancingScript.ttf);
  }
  
  @font-face {
    font-family: thirdFont;
    src: url(PoetsenOne.ttf);
  }